CREATE TABLE IF NOT EXISTS comments ( id UUID DEFAULT gen_random_uuid() PRIMARY KEY, post_id UUID REFERENCES posts(id) ON DELETE CASCADE, user_id UUID REFERENCES profiles(user_id) ON DELETE CASCADE, parent_id UUID REFERENCES comments(id) ON DELETE CASCADE, content TEXT NOT NULL, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW() ); ALTER TABLE posts ADD COLUMN IF NOT EXISTS audio_url TEXT;
